.tp{
    color: cornflowerblue;
    font-size: 600%;
    font-family: cursive;
    text-decoration: none;
}
.tp a{
    text-align: center;
    display: block;
}
.h1{
    color:blue;
    font-size: 250%;
    font-family: cursive;
}
.h2{
    color: lawngreen;
    font-size: 500%;
    font-family: 'Amatic SC', cursive;
    border: 3px solid #ccc;
    border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.h2 a{
    text-align: center;
    display: block;
}
tdf{
    font-family: fantasy;
}
.divs{
    width:100%;
    margin-right:auto;
    margin-left:auto;
    margin: 0 auto;
}
.ttbh{
    width:90%;
    margin: 0 auto;
    text-align: center;
    font-size: 250%;
    font-family: Courier New;
}
.tbh{
    width:90%;
    margin: 0 auto;
    text-align: center;
}
tds{
    text-align-last: justify;
}
.map-wrapper{
    max-width: 75%; /* 最大幅 */
    min-width: 20%; /* 最小幅 */
    margin: 0 auto;
    padding: 4px;
    border: 1px solid rgb(111, 210, 94); /* ボーダー（枠線） */
}
.googlemap {
    position: relative; /*　子要素の基準とする　*/
    padding-bottom: 75%; /*　表示するパティング領域の縦横比(4:3) */
    height: 0;
    overflow: hidden;
}
.googlemap iframe {
    position: absolute; /* 親要素のパディング領域に配置するために絶対配置を指定 */
    top: 0; /* 垂直方向トップに配置 */
    left: 0; /* 水平方向左に配置 */
    width: 100%; /* 親コンテナの幅いっぱいに表示 */
    height: 100%; /* 親コンテナの高さいっぱに表示 */
}
