.h2{
    color: rgb(35, 3, 86);
    font-size: 500%;
    font-family: 'Amatic SC', cursive;
    border: 3px solid #ccc;
    border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.h2 a{
    text-align: center;
    display: block;
}
.bs {
    color: rgb(33, 171, 26);
    font-size: 150%;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    text-decoration: none;
    white-space: nomal;
}
.trp{
    padding: 5%;
}
.divs{
    width:100%;
    margin-right:auto;
    margin-left:auto;
    margin: 0 auto;
}
.ttbh{
    margin: 0 auto;
    text-align: center;
    vertical-align: auto;
}
.tbh{
    width:90%;
    margin: 0 auto;
    text-align: center;
}
.tdss{
    text-align: center;
    vertical-align: middle;
}
.td[colspan="3"]{
    text-align: center;
}
.map-wrapper{
    max-width: 75%; /* 最大幅 */
    min-width: 20%; /* 最小幅 */
    margin: 0 auto;
    padding: 4px;
    border: 1px solid rgb(111, 210, 94); /* ボーダー（枠線） */
}
.googlemap {
    position: relative; /*　子要素の基準とする　*/
    padding-bottom: 75%; /*　表示するパティング領域の縦横比(4:3) */
    height: 0;
    overflow: hidden;
}
.googlemap iframe {
    position: absolute; /* 親要素のパディング領域に配置するために絶対配置を指定 */
    top: 0; /* 垂直方向トップに配置 */
    left: 0; /* 水平方向左に配置 */
    width: 100%; /* 親コンテナの幅いっぱいに表示 */
    height: 100%; /* 親コンテナの高さいっぱに表示 */
}
.img-disp {
    display:block;
    margin: 0 auto;
    width: 50%;
    overflow:hidden;
}

.img-wrap {
    width: 200%;
    height: 100%;
    transition: 1s;
    display: flex;
}

.img-wrap img{
    display: block;
    width: 50%;
}

.img-disp:hover .img-wrap{
    transform: translateX();
}