{% extends 'base.html' %}
{% block head %}
<div>
    <a href="/">
        <img src="/static/upload/icon.png" width="5%" height="5%">
        トップへ戻る
    </a>
    <div class="h2">
        <a>CREAM</a>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="divs">
    <table class="tbh">
        <tbody>
            <tr>
                <td>
                    <div>
                        <img src="/static/upload/cream01.JPG" style="max-width: 100%; height: auto;" align="center" alt="cr01">
                    </div>
                </td>
                <td width="50%">
                    <a class="bs">
                        ここに紹介文
                </td>
            </tr>
            <tr>
                <td>
                    <a class="bs">
                        ここにクーポンの内容
                    </a>
                </td>
                <td>
                    <div>
                        [商品]
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="map-wrapper" >
                        <div class="googlemap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3393.601262025113!2d131.09444471492537!3d31.726785444095224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x353f264bba4004e1%3A0xd854846851615a69!2zQ1JFQU0o44Kv44Os44O844OX5bGL44GV44KTKQ!5e0!3m2!1sja!2sjp!4v1660705491940!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    <table>
</div>

{% endblock %}