{% extends 'base.html' %}
{% block head %}
<div>
    <a href="/">
        <img src="/static/upload/icon.png" width="5%" height="5%">
        トップへ戻る
    </a>
    <div class="h2">
        <a>プチオープンカフェ dondon</a>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="divs">
    <table class="tbh">
        <tbody>
            <tr>
                <td>
                    <div>
                        <img src="/static/upload/dondon01.JPG" style="max-width: 100%; height: auto;" align="center" alt="dd01">
                    </div>
                </td>
                <td width="50%">
                    <a class="bs">
                        dondonでは一番人気のミルクショコラをはじめ、たくさんの種類のかき氷を用意してあります！ポテトの種類もたくさんあり、１年中営業してますので、ぜひお越しください！他にもタコライスなどがお昼ご飯に最適なメニューもあります！
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="bs">
                        ポテト２０円引き
                    </a>
                </td>
                <td>
                    <div>
                        <img src="/static/upload/dondon02.jpg" style="max-width: 100%; height: auto;" align="center" alt="dd02">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="map-wrapper" >
                        <div class="googlemap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3393.3980976935354!2d131.07704791492552!3d31.732333043820258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x353f26ff84f8dc37%3A0x2ce3d295843118c0!2z44OX44OB44Kq44O844OX44Oz44Kr44OV44KnZG9uZG9u!5e0!3m2!1sja!2sjp!4v1660699248865!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    <table>
</div>

{% endblock %}