{% extends 'base.html' %}
{% block head %}
<div>
    <a href="/">
        <img src="/static/upload/icon.png" width="5%" height="5%">
        トップへ戻る
    </a>
    <div class="h2">
        <a>felice</a>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="divs">
    <table class="tbh">
        <tbody>
            <tr>
                <td>
                    <div>
                        feliceの外観
                    </div>
                </td>
                <td width="50%">
                    <a class="bs">
                        こだわりのスフレパンケーキを販売していて、そのパンケーキに生クリームやフルーツがどん！どん！とのっています！また、ソフトクリームも超濃厚でHappyな気分になれます！店員さんの方々もとても笑顔で優しくすごく入りやすいお店になっています！
                </td>
            </tr>
            <tr>
                <td>
                    <a class="bs">
                        ソフトクリーム TAKE OUT 380円→100円引き
                    </a>
                </td>
                <td>
                    <div>
                        <img src="/static/upload/fei02.JPG" style="max-width: 100%; height: auto;" align="center" alt="fl02">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="map-wrapper" >
                        <div class="googlemap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d217189.64185058896!2d130.78632483281245!3d31.727143400000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x353f271a42bca8a9%3A0x78ccb4b8efe863dd!2z44OV44Kn44Oq44O844OB44Kn!5e0!3m2!1sja!2sjp!4v1660700707920!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    <table>
</div>

{% endblock %}