{% extends 'base.html' %}
{% block head %}
<div>
    <a href="/">
        <img src="/static/upload/icon.png" width="5%" height="5%">
        トップへ戻る
    </a>
    <div class="h2">
        <a>NERDBIRD</a>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="divs">
    <table class="tbh">
        <tbody>
            <tr>
                <td>
                    <div>
                        <img src="/static/upload/nb01.JPG" style="max-width: 100%; height: auto;" align="center" alt="nb01">
                    </div>
                </td>
                <td width="50%">
                    <a class="bs">
                        ご当地名物チキン南蛮専門店！たれも自由に選べます。食べに来てね！！
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="bs">
                        ここにはクーポンの詳細を書く
                    </a>
                </td>
                <td>
                    <div>
                        <img src="/static/upload/nb02.JPG" style="max-width: 100%; height: auto;" align="center" alt="nb02">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="map-wrapper" >
                        <div class="googlemap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3393.1803723788885!2d131.06766601500158!3d31.738277281297986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x353f27189efa019f%3A0x1fa4bf9af4819594!2zTkVSREJJUkQg44OB44Kt44Oz5Y2X6Juu5bCC6ZaA5bqX!5e0!3m2!1sja!2sjp!4v1660692311695!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    <table>
</div>

{% endblock %}