{% extends 'base.html' %}
{% block head %}
<div>
    <a href="/">
        <img src="/static/upload/icon.png" width="5%" height="5%">
        トップへ戻る
    </a>
    <div class="h2">
        <a>1st page</a>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="divs">
    <table class="tbh">
        <tbody>
            <tr>
                <td>
                    <div>
                        <img src="/static/upload/1st01.jpg" style="max-width: 100%; height: auto;" align="center" alt="1st01">
                    </div>
                </td>
                <td width="50%">
                    <a class="bs">
                        <br>
                            九州初の御団子をはじめ、都城初のパッフルや、糸ピンスかき氷など都城初のスイーツがたくさんあります。
                            土日限定で、カットしたりんご飴を販売しており、土日が無理なお客様は前日までに予約をすれば平日でも購入できます。
                            インスタグラム(1stpage_est.2020)のDMで受取日時数、名前、電話番号を送れば予約できます。
                        </br>
                        <br>
                            メニューも豊富で何にしようか悩んじゃいますよ。ぜひお越しください。
                        </br>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="bs">
                        店内飲食のみ50円引き
                    </a>
                </td>
                <td>
                    <div>
                        <img src="/static/upload/1st02.JPG" style="max-width: 100%; height: auto;" align="center" alt="1st02">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="map-wrapper" >
                        <div class="googlemap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3393.593728080193!2d131.05526861500132!3d31.726991181301766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x353f273086a492c5%3A0x97c0c3b522a97189!2zMXN0IHBhZ2Ug44OV44Kh44O844K544OI44Oa44O844K4!5e0!3m2!1sja!2sjp!4v1660703622142!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    <table>
</div>

{% endblock %}