{% extends 'base.html' %}
{% block head %}
<div>
    <a href="/">
        <img src="/static/upload/icon.png" width="5%" height="5%">
        トップへ戻る
    </a>
    <div class="h2">
        <a>ミスタードーナッツ</a>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="divs">
    <table class="tbh">
        <tbody>
            <tr>
                <td>
                    <div>
                        [外観]
                    </div>
                </td>
                <td width="50%">
                    <a class="bs">
                        キトリーのパンはフランスの町中にあるパン屋をイメージして作られています！種類は30～40種類！甘いパン、ハードパン、なんでも揃ってます！そんな中でも人気No1は「クロワッサン！」しかし、どれを食べても間違いなし！ぜひご来店をお待ちしております！
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="bs">
                        全品 5%OFF
                    </a>
                </td>
                <td>
                    <div>
                        [商品の写真]
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="map-wrapper" >
                        <div class="googlemap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3393.6000881643754!2d131.065757!3d31.72681750000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x353f27e9cdc387d1%3A0xef92425af9518861!2sQUiTTERiE!5e0!3m2!1sja!2sjp!4v1660701733627!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    <table>
</div>

{% endblock %}