{% extends 'base.html' %}
{% block head %}
<div>
    <a href="/">
        <img src="/static/upload/icon.png" width="5%" height="5%">
        トップへ戻る
    </a>
    <div class="h2">
        <a>たこやきハウス</a>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="divs">
    <table class="tbh">
        <tbody>
            <tr>
                <td>
                    <div>
                        <img src="/static/upload/tako01.png" style="max-width: 100%; height: auto;" align="center" alt="th01">
                    </div>
                </td>
                <td width="50%">
                    <a class="bs">
                        各曜日ごとに割引がありますので、ぜひご来店ください。
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="bs">
                        全品１０％引き！
                    </a>
                </td>
                <td>
                    <div>
                        <img src="/static/upload/tako02.JPG" style="max-width: 100%; height: auto;" align="center" alt="th02">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="map-wrapper" >
                        <div class="googlemap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3393.742013402629!2d131.07286501500127!3d31.722941581303147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x353f2706043b4a5b%3A0xc4b02256fb3a123b!2z44Gf44GT44KE44GN44OP44Km44K5IOS4iuadseW6lw!5e0!3m2!1sja!2sjp!4v1660694697635!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    <table>
</div>

{% endblock %}