{% extends 'base.html' %}
{% block head %}
<div class="tp">
    <a>みるクーポンアプリ！！</a>
</div>
<div align="center">
    ここになにかロゴを入れる？
</div>
{% endblock %}
{% block body %}
<table class="ttbh">
    <tr>
        <td>
            <a class="btn btn-primary btn-lg" href="/top/emp" role="button">木田ホームセンター</a>
        </td>
        <td>
            <a class="btn btn-secondary btn-lg">飲食店２</a>
        </td>
        <td>
            <a class="btn btn-success btn-lg">飲食店３</a>
        </td>
        <td>
            <a class="btn btn-info btn-lg">飲食店４</a>
        </td>
        <td>
            <a class="btn btn-dark btn-lg">飲食店５</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-outline-primary btn-lg">飲食店６</a>
        </td>
        <td>
            <a class="btn btn-outline-secondary btn-lg">飲食店７</a>
        </td>
        <td>
            <a class="btn btn-outline-success btn-lg">飲食店８</a>
        </td>
        <td>
            <a class="btn btn-outline-info btn-lg">飲食店９</a>
        </td>
        <td>
            <a class="btn btn-outline-dark btn-lg">飲食店１０</a>
        </td>
    </tr>
    <tr>
        <td class="tdf">
            飲食店１１
        </td>
        <td>
            飲食店１２
        </td>
        <td>
            飲食店１３
        </td>
        <td>
            飲食店１４
        </td>
        <td>
            飲食店１５
        </td>
    </tr>
    <tr>
        <td>
            飲食店１６
        </td>
        <td>
            飲食店１７
        </td>
        <td>
            飲食店１８
        </td>
        <td>
            飲食店１９
        </td>
        <td>
            飲食店２０
        </td>
    </tr>
{% endblock %}