{% extends 'base.html' %}
{% block head %}
<div class="tp">
    <a>みるクーポンアプリ！！</a>
</div>
{% endblock %}
{% block body %}
<table class="ttbh">
    <tbody>
        <tr>
            <td>
                <a class="btn btn-primary btn-lg" href="/top/emp" role="button">木田ホームセンター</a>
            </td>
            <td>
                <a class="btn btn-secondary btn-lg">飲食店２</a>
            </td>
            <td>
                <a class="btn btn-success btn-lg">飲食店３</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-outline-primary btn-lg">飲食店４</a>
            </td>
            <td>
                <a class="btn btn-outline-secondary btn-lg">飲食店５</a>
            </td>
            <td>
                <a class="btn btn-outline-success btn-lg">飲食店６</a>
            </td>
        </tr>
        <tr>
            <td class="tdf">
                飲食店７
            </td>
            <td>
                飲食店８
            </td>
            <td>
                飲食店９
            </td>
        </tr>
        <tr>
            <td>
                飲食店１０
            </td>
            <td>
                飲食店１１
            </td>
            <td>
                飲食店１２
            </td>
        </tr>
        <tr>
            <td>
                飲食店１３
            </td>
            <td>
                飲食店１４
            </td>
            <td>
                飲食店１５
            </td>
        </tr>
        <tr>
            <td>
                飲食店１６
            </td>
            <td>
                飲食店１７
            </td>
            <td>
                飲食店１８
            </td>
        </tr>
        <tr>
            <td>
                飲食店１９
            </td>
            <td>
                飲食店２０
            </td>
            <td>
             飲食店２１
            </td>
        </tr>
    </tbody>
{% endblock %}