{% extends 'base.html' %}
{% block head %}
<div style="text-align:center;">
    <img src="/static/upload/ミル01.png" style="max-width: 100%; height: auto;" align="center" alt="title">
</div>
{% endblock %}
{% block body %}
<table class="ttbh">
    <tbody>
        <tr colspan="3">
            <td>
                がっつり
            </td>
        </tr>
        <tr>
            <td>
                <a href="/top/nerdbird">
                    <img src="/static/upload/nerdbird.png"style="max-width: 100%; height: auto" align="center" alt="nerdbird">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/チキン南蛮.png" style="max-width: 100%; height: auto" align="center" alt="nanban">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/タコヤキ.png" style="max-width: 100%; height: auto" align="center" alt="takoyaki">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a>
                    <img src="/static/upload/marutashokudou.png" style="max-width: 100%; height: auto" align="center" alt="ms">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/炎.png" style="max-width: 100%; height: auto" align="center" alt="honoo">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/トマラー.png" style="max-width: 100%; height: auto" align="center" alt="tomaraa">
                </a>
            </td>
        </tr>
        <tr colspan="3">
            <td >
                くだもの
            </td>
        </tr>
        <tr colspan="2">
            <td>
                <a>
                    <img src="/static/upload/スィーツ.png" style="max-width: 100%; height: auto" align="center" alt="sui-tu">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/果物カフェ.png" style="max-width: 100%; height: auto" align="center" alt="kudamono">
                </a>
            </td>
        </tr>
        <tr colspan="3">
            <td >
                カフェ
            </td>
        </tr>
        <tr>
            <td>
                <a>
                    <img src="/static/upload/nichiyou.png" style="max-width: 100%; height: auto" align="center" alt="ekiura">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/バンブージョイント.png" style="max-width: 100%; height: auto" align="center" alt="bb">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/dondon.png" style="max-width: 100%; height: auto" align="center" alt="dd">
                </a>
            </td>
        </tr>
        <tr colspan="3">
            <td >
                パン
            </td>
        </tr>
        <tr colspan="2">
            <td>
                <a>
                    <img src="/static/upload/石窯パン工房.png" style="max-width: 100%; height: auto" align="center" alt="ipk">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/felice.png" style="max-width: 100%; height: auto" align="center" alt="felice">
                </a>
            </td>
        </tr>
        <tr colspan="2">
            <td>
                <a>
                    <img src="/static/upload/ミスタードーナツ.png" style="max-width: 100%; height: auto" align="center" alt="md">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/quitterie.png" style="max-width: 100%; height: auto" align="center" alt="qui">
                </a>
            </td>
        </tr>
        <tr colspan="3">
            <td >
                デザート
            </td>
        </tr>
        <tr>
            <td>
                <a>
                    <img src="/static/upload/13.png" style="max-width: 100%; height: auto" align="center" alt="13">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/hicheese.png" style="max-width: 100%; height: auto" align="center" alt="hc">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/1ststage.png" style="max-width: 100%; height: auto" align="center" alt="1st">
                </a>
            </td>
        </tr>
        <tr colspan="2">
            <td>
                <a>
                    <img src="/static/upload/nankou.png" style="max-width: 100%; height: auto" align="center" alt="okasi">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/とろり天使の.png" style="max-width: 100%; height: auto" align="center" alt="warabimoti">
                </a>
            </td>
        </tr>
        <tr colspan="2">
            <td>
                <a>
                    <img src="/static/upload/ミロワール.png" style="max-width: 100%; height: auto" align="center" alt="miro">
                </a>
            </td>
            <td>
                <a>
                    <img src="/static/upload/cream.png" style="max-width: 100%; height: auto" align="center" alt="cream">
                </a>
            </td>
        </tr>
    </tbody>
{% endblock %}